<div class="container content">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-3">
      <h2>Study Management</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" ui-sref="main.studyMgmt.home" role="button">Manage Study &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Laboratory Management</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" ui-sref="main.lab.home" role="button">Manage Lab &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Data</h2>
      <p>Cupcake ipsum dolor sit amet cookie marzipan candy halvah. Unerdwear.com chupa chups donut gingerbread chocolate gummi bears fruitcake candy jelly. Cookie fruitcake bonbon sesame snaps gingerbread marzipan caramels bonbon. </p>
      <p><a class="btn btn-default" ui-sref="main.data.home" role="button">Import/Export Data &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h2>Administration</h2>
      <p>Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o.</p>
      <p><a class="btn btn-default" ui-sref="main.admin.home" role="button">Manage Application &raquo;</a></p>
    </div>
  </div>
</div>