body {
  background-color: $site-background-color;
}

/*
 * Main content
 */
.content {
  margin-top: $navbar-height + 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  background-color: $white;
}
.content .page-header {
  margin-top: 0;
}
