.login {
  height: 100vh;

  & .login-bg {
    background: url('../images/lab.jpg') no-repeat center center fixed;
    @include background-image(cover);

    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    width: 100%;

    display: block;

    @include filter(20px);
  }
}

.form-signin {
  padding-top: 250px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  position: relative;
  z-index: 101;

  & fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    @include box-sizing(border-box);
    width: 80%;
    margin: 0 10%;
    position: absolute;
  }

  & fieldset:not(:first-of-type) {
    display: none;
  }
}