<div class="row">
  <!-- Sidebar nav section -->
  <div class="col-sm-3 col-md-2 sidebar sidebar-default">
    <h4> Study Administration</h4>
    <ul class="nav nav-sidebar">
      <li><a ui-sref="nowhere">Create Study</a></li>
      <li><a ui-sref="nowhere">Create Questionnaires (CRFs)</a></li>
    </ul>
    <h4> Application Administration</h4>
    <ul class="nav nav-sidebar">
      <li><a ui-sref="studyCenters">Study Centers</a></li>
      <li><a ui-sref="populations">Populations</a></li>
      <li><a ui-sref="materials">Materials</a></li>
      <li><a ui-sref="users">Users</a></li>
      <li><a ui-sref="dataImport">Import Data</a></li>
    </ul>
    <h4> System Administration</h4>
    <ul class="nav nav-sidebar">
      <li><a ui-sref="system.environment">Environment</a></li>
      <li><a ui-sref="system.API">API</a></li>
    </ul>
  </div>
  <!-- Content section -->
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="container-fluid content content-well" ui-view=""></div>
  </div>
</div>
