<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <span class="glyphicon glyphicon-calendar"></span>
    <h4>Calendar</h4>
    <span class="text-muted">Specimens tomorrow.</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <span class="glyphicon glyphicon-barcode"></span>
    <h4>Samples</h4>
    <span class="text-muted">14 samples waiting still need to be recorded.</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <span class="glyphicon glyphicon-book"></span>
    <h4>Assays</h4>
    <span class="text-muted">4 assays need QC. 2 assays recently completed.</span>
  </div>
</div>

<h2 class="sub-header">Processing List</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Study</th>
      <th>Participant ID</th>
      <th>Event Type</th>
      <th>Sample Type</th>
      <th>Barcode</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>IIS</td>
      <td>100101</td>
      <td>Enr</td>
      <td>Whole Blood - Green top</td>
      <td>546123</td>
      <td>12 ul</td>
    </tr>
    <tr>
      <td>IIS</td>
      <td>100101</td>
      <td>Enr</td>
      <td>Sputum</td>
      <td>546124</td>
      <td>1.5 ml</td>
    </tr>
    <tr>
      <td>IIS</td>
      <td>100201</td>
      <td>Exacerbation</td>
      <td>Whole Blood - Green top</td>
      <td>546125</td>
      <td>5 ml</td>
    </tr>
    <tr>
      <td>IIS</td>
      <td>100301</td>
      <td>Convalescent</td>
      <td>Whole Blood - Green top</td>
      <td>546128</td>
      <td>8.3 ml</td>
    </tr>
    </tbody>
  </table>
</div>
