<div class="row">
  <form action="" method="POST" class="form-horizontal" role="form">

    <div class="form-group">
      <label class="col-sm-2 control-label">Study</label>
      <label class="col-sm-2">IIS</label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Participant ID</label>
      <label class="col-sm-2">100101</label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Event</label>
      <label class="col-sm-2">In-Depth 6</label>
    </div>
    <div class="form-group">
    	<label for="eventDate" class="col-sm-2 control-label">Event Date</label>
    	<div class="col-sm-10">
    		<input type="date" name="eventDate" id="eventDate" class="form-control" value="" title="" required="required" >
    	</div>
    </div>
    <div class="form-group">
      <label for="eventTime" class="col-sm-2 control-label">Event Time</label>
      <div class="col-sm-10">
        <input type="time" name="eventTime" id="eventTime" class="form-control" value="" title="" required="required" >
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Record</button>
      </div>
    </div>
  </form>
</div>